:host {
  display: block;
  padding-top: 1rem;
}

app-card {
  margin-top: 1rem;

  &::ng-deep {
    p:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

.button {
  text-align: center;
  margin-top: 1rem;
}
