:host {
  display: block;
}

.button {
  width: 100%;
  background-color: rgb(255, 255, 255);
  font: inherit;
  color: rgba(33, 37, 41, 0.75);
  text-align: inherit;
  padding: 0.5rem 1rem;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: rgb(248, 249, 250);
    color: rgb(0, 0, 0);
  }

  &.success {
    background-color: rgb(163, 207, 187);
    color: rgb(0, 0, 0);
  }

  &.error {
    background-color: rgb(241, 174, 181);
    color: rgb(0, 0, 0);
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}
